<%= render 'navbar'%>
<br/>
  <div class="form-content">
    <div class="form-child">
      <h1>New movement</h1>
      <%= render "form", movement: @movement %>
      <br>
    <div>
      <%= link_to "Back to movements", movements_path %>
    </div>
  </div>
</div>