<div id="<%= dom_id movement_type %>">
  <p>
    <strong>Name:</strong>
    <%= movement_type.name %>
  </p>

  <p>
    <strong>Movement category:</strong>
    <%= movement_type.movement_category_id %>
  </p>

</div>
