<h1>Editing movement type</h1>

<%= render "form", movement_type: @movement_type %>

<br>

<div>
  <%= link_to "Show this movement type", @movement_type %> |
  <%= link_to "Back to movement types", movement_types_path %>
</div>
