/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* modal */
.modal-center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 22%;
  height: 80vh;
  width: 80vh;
 
}

.modal {
  width: 600px;
  background-color: #474952;
  max-width: 100%;
  padding: 30px, 50px;
  border-radius: 5px;
  text-align: center;
  color: #faf9fc;
}

.button_border {
  border-radius: 100%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 14px;
  margin-left: 10%;
  cursor: pointer;
}

/* contetn-login */
.content_page {
  padding: 25px;
  text-align: left;
}

.content-error {
  color: #f54456;
}

/* menu */
body {
  background: #0a0216;
  color: white;
}

.header {
  background-color: #0a0216;
  padding: 25px;
  text-align: left;
  color: #7494a3;
}

.line {
  margin-left: 2%;
  width: 96%;
  height: 8px;
  background-image: linear-gradient(
    to right,
    rgb(245, 68, 86),
    rgb(252, 112, 34),
    rgb(214, 205, 0),
    rgb(145, 232, 39),
    rgb(0, 197, 128),
    rgb(0, 197, 128),
    rgb(48, 93, 251),
    rgb(118, 53, 222),
    rgb(249, 143, 209)
  );
}

.pure-menu {
  background-color: #faf9fc;
  text-align: center;
}

/* landing page */
.background-image {
  background-color: #0a0216;
  padding: 20px;
  text-align: center;
  height: 350px;
  background-image: url("https://images-leadger-2.s3.amazonaws.com/ASYMETRIC.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.topnav {
  overflow: hidden;
  background: linear-gradient(70deg, #0a0216, #5f2ab4);

  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 10px;
}

.topnav a {
  display: flex;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #0e1112;
}

.icon,
.iteam {
  display: flex;
}

.topnav a:hover {
  background-color: #faf9fc;
  color: black;
}

.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #faf9fc;
}
.column {
  float: left;
  width: 28%;
  padding: 15px;
  color: #b3a2d6;
}

.row:after {
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* div center */

.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #faf9fc;
}

.form-child {
  background: #faf9fc;
  width: 25%;
  height: auto;
  color: black;
  padding: 15px;
}

.form-child-movement {
  background: #faf9fc;
  width: 55%;
  height: auto;
  color: black;
  padding: 15px;
}

h2 {
  margin-left: 30%;
}

.register-error {
  background: #f54456;
  color: white;
  position: relative;
  margin: 20px;
}

.actions {
  padding-top: 10%;
}
