<div id="<%= dom_id movement_category %>">
  <p>
    <strong>Name:</strong>
    <%= movement_category.name %>
  </p>

  <p>
    <strong>Movement type:</strong>
    <%= movement_category.movement_type_id %>
  </p>

</div>
