<h1>Editing movement category</h1>

<%= render "form", movement_category: @movement_category %>

<br>

<div>
  <%= link_to "Show this movement category", @movement_category %> |
  <%= link_to "Back to movement categories", movement_categories_path %>
</div>
