<%= turbo_frame_tag "modal" do %>
  <div class="modal-center" id="modal_center">
    <div class="modal">
        <h1>New category</h1>
        <%= render "form", movement_category: @movement_category %>
        
    </div>
  </div>
<% end %>
